#todo-list-content{
  width: 100%;
  height: 80%;
  margin-top: 10px;
  border: 1px solid #000;
}

#todo-list{
  height: 100%;
  overflow-y: scroll;
}

#todo-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.3);
	background-color: #d6d6d6;
}

#todo-list::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(160, 46, 46);
}

#todo-list::-webkit-scrollbar-thumb
{
	background-color: #959393;
}