.input{
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #f3de64;
    border-radius: 10px;
    outline: none;
    transition: all 0.5s ease;
  }
  
  .input:focus{
    border: 1px solid #8391ea;
  }


  .add-btn{
    width: 100px;
    background:#34e22b;
    color: #fff; 
    padding: 10px 15px;
    border: 1px solid #34e22b;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.5s ease;
  }
  
  
  .add-btn:hover{
    background: #fff;
    color: #34e22b;
    cursor: pointer;
  }